click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2018.5
scipy==1.5.4
six==1.15.0
Werkzeug==1.0.1

tweepy==3.10.0
Flask==1.1.2
numpy==1.19.4
pandas==1.1.4
tqdm==4.54.1
# mccabe==0.6.1
# mecab-python-windows==0.996.3
mecab-python3
matplotlib==3.3.3
matplotlib-venn==0.11.6
wordcloud==1.8.1
python-dotenv==0.15.0