<!DOCTYPE html><html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ついくらうどNOW 技育祭ver</title>
    <link rel="icon" href="{{url_for('static',filename = 'favicon.ico')}}">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/d3.layout.cloud.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'app.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
        <img src="static/logo.png" alt="ついくらうどNOWのロゴ" height="150" onclick="location.href='/'">
        </div>
    </header>
    <a onclick="location.href='/'" class="btn-sticky">HOME</a>
    <a onclick="location.href='/giikusai'" class="btn-sticky">#技育祭</a>
    <a onclick="location.href='/halla'" class="btn-sticky">#ホールA</a>
    <a onclick="location.href='/hallb'" class="btn-sticky">#ホールB</a>
    <a onclick="location.href='/hallc'" class="btn-sticky">#ホールC</a>

    <form action="/" method="POST" enctype="multipart/form-data" class="search_container">
        <input type="text" size="25" placeholder="Search here..." name="query">
        <input type="submit" value="&#xf002">
    </form>

    <h1>- HOME -</h1>

    <div class="box">
            <h4>ついくらうどNOW</h4>
                <p>このアプリは、指定したハッシュタグが含まれるツイート20件を抽出し、<br>
                    WordCloudにしたものと抽出したテキストを表示するアプリです。</p>
                <p>遡ることができるのは1週間までです。</p>
    </div>
    <div class="box">
            <h4>技育祭ver</h4>
            <p>技育祭とは「技術者を育てる」ことを目的とした<br>
                エンジニアを目指す学生のための日本最大のテックカンファレンスです。<br>
                詳細は<a href="https://talent.supporterz.jp/geeksai/2021/">こちら</a></p>
            <p>技育祭verということで、技育祭中は各ホールに関するツイートを<br>リアルタイムでのぞき見することができます。</p>
            <p> 見たい講演が被ってしまっても、被った講演の状況をボタン一つで確認できます。</p>
            <p>※技育祭が始まるまでは#ホールA、#ホールB、#ホールCに該当するツイートが<br>
                取得できないため、代わりにそれぞれ「#駆け出しエンジニアと繋がりたい」<br>
                「#22卒」「#23卒」で検索した結果を表示させています。</p>
            <p> （技育祭が始まると各ホールで検索できるよう戻します）</p>
            
            <h4>2021/03/11 追記：</h4>
            <p>#ホールA、#ホールB、#ホールCで検索できるよう戻しました！</p>

    </div>

    <footer>
        <p>© Nastuki Hashimoto 2021</p>
    </footer>

</body>
</html>