<!DOCTYPE html><html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ついくらうどNOW 技育祭ver</title>
    <link rel="icon" href="{{url_for('static',filename = 'favicon.ico')}}">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/d3.layout.cloud.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'app.css')}}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
        <img src="static/logo.png" alt="ついくらうどNOWのロゴ" height="150" onclick="location.href='/'">
        </div>
    </header>
    <h1>HOME</h1>
    <a onclick="location.href='/'" class="btn-sticky">HOME</a>
    <a onclick="location.href='/page0'" class="btn-sticky">#技育祭</a>
    <a onclick="location.href='/page1'" class="btn-sticky">#RoomA</a>
    <a onclick="location.href='/page2'" class="btn-sticky">#RoomB</a>
    <a onclick="location.href='/page3'" class="btn-sticky">#RoomC</a>



    <div class="box">
            <h4>ついくらうどNOWとは</h4>
                <p>このアプリは、指定した単語が含まれるツイート直近20件を抽出し、<br>
                    WordCloudにしたものと抽出したテキストを表示するアプリです。</p>
    </div>
    <div class="box">
            <h4>技育祭verとは</h4>
            <p>技育祭とは「技術者を育てる」ことを目的としたエンジニアを目指す学生のための<br>
                日本最大のテックカンファレンスです。詳細は<a href="https://talent.supporterz.jp/geeksai/2021/">こちら</a></p>
            <p>技育祭verということで、技育祭中は各Roomに関するツイートを<br>リアルタイムでのぞき見することができます。</p>
            <p> 見たい講演が被ってしまっても、被った講演の状況をボタン一つで確認できます。</p>
            <p>※技育祭が始まるまではRoomA、RoomB、RoomCに該当するツイートが取得できないため、<br>
                代わりに「エンジニア」「競プロ」「機械学習」で検索できるようになっています。<br>
                （技育祭が始まると元に戻します）</p>

    </div>

    <footer>
        <p>© Nastuki Hashimoto 2021</p>
    </footer>

</body>
</html>