<!DOCTYPE html><html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ついくらうど 技育祭ver</title>
    <link rel="icon" href="{{url_for('static',filename = 'favicon.ico')}}">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/d3.layout.cloud.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'app.css')}}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
        <img src="static/logo.png" alt="ついくらうどNOWのロゴ" height="150" onclick="location.href='/'">
        </div>
    </header>
    <h1>#エンジニア</h1>
    <a onclick="location.href='/'" class="btn-sticky">HOME</a>
    <a onclick="location.href='/page0'" class="btn-sticky">#技育祭</a>
    <a onclick="location.href='/page1'" class="btn-sticky">#RoomA</a>
    <a onclick="location.href='/page2'" class="btn-sticky">#RoomB</a>
    <a onclick="location.href='/page3'" class="btn-sticky">#RoomC</a>

    <div id="wordcloud"></div>

    <div class="container">
        <div class="row">
        {% for tweet in tweets %}
                <div class="card col-sm-6">
                    <div class="card-body">
                        {{tweet}}
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
    
    <footer>
        <p>© Nastuki Hashimoto 2021</p>
    </footer>

    <script type="text/javascript">
    
        var tweets_txt = {{tweets_txt|tojson}}
        // グラフの表示設定
        var margin = { top: 10, right: 10, bottom: 10, left: 10 },
            width = 450 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        // svgオブジェクトの追加
        var svg = d3.select("#wordcloud").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");


        var words = sortByFrequency(tweets_txt.split(/[ ,.]+/) )
            .map(function(d,i) {
                if (35-i*0.1 <= 1){
                    return {text: d, size: 0};
                }else{
                    return {text: d, size: 35-i*0.1};
                }
                
            });

        var layout = d3.layout.cloud()
            .size([width, height])
            .words(words)
            .padding(2)
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function (d) { return d.size; }) 
            .on("end", draw)
        layout.start();

        function draw(Words) {
            svg.append("g")
                //.attr("transform", "translate(" + [bDeltaX, bDeltaY] + ") scale(" + 1 + ")") // nah!
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")") // nah!
                .selectAll("text")
                .data(Words)
                .enter().append("text")
                .style("font-size", function(d) { return d.size + "px"; })
                .style("fill", function(d, i) { return d3.schemeCategory10[i % 10]; })
                .attr("text-anchor", "middle")
                .style("font-family", "Impact")
                .attr("transform", function(d) {
                    // console.log(d.rotate)
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function(d) { return d.text; });
        };

        function sortByFrequency(arr) {
            var f = {};
            arr.forEach(function(i) { f[i] = 0; });
            var u = arr.filter(function(i) { return ++f[i] == 1; });
            return u.sort(function(a, b) { return f[b] - f[a]; });
        }
    </script>
</body>
</html>